article.comic(id=slug)

    ul.paginas.owl-carousel
      - var paginas = []; for( var i=0; i < pages; i++ ){ paginas.push( i ) };

      each val,index in paginas
        li
            a.zoom(href=slug+".img/"+index+".jpg")
                - var imagen = uri+"/comic/"+slug+".img/"+index+".jpg";
                - var encoded = encodeURIComponent( imagen );
                img.lazyOwl( data-src="http://imgsizer.8cdn.co/xx/yy/#{encoded}", data-imagen="#{imagen}" )

      - var lanzamiento = new Date( proximo ).getTime();
      - var ahora = new Date().getTime();
      - var falta = lanzamiento - ahora;
      - var restante = Math.ceil( falta/1000/60/60/24 );

      if restante > 0
        
        li.coming-soon
            h3 Espera la próxima publicación de<br /><strong>#{title}</strong><br />en 
                span= restante
                case restante
                  when 1
                    |  día.
                  default
                    |  días.

    .comic-description
        != yield

    div#zoom-area
        a.zoom-close(href="#") Cerrar

        div.zoom-wrapper
            div.image-wrapper
                img(src="http://placehold.it/500x900");
