article.comic(id=slug)

    ul.paginas.owl-carousel
      - var paginas = []; for( var i=0; i < pages; i++ ){ paginas.push( i ) };

      each val,index in paginas
        li
            a.zoom(href=slug+".img/"+index+".jpg")
                - var imagen = uri+"/comic/"+slug+".img/"+index+".jpg";
                - var encoded = encodeURIComponent( imagen );
                img.lazyOwl( data-src="http://imgsizer.8cdn.co/xx/yy/#{encoded}", data-imagen="#{imagen}" )

      - var lanzamiento = new Date( proximo ).getTime();
      - var ahora       = new Date().getTime();
      - var falta       = lanzamiento - ahora;
      - var restante    = Math.ceil( falta/1000/60/60/24 );

      if restante > 0
        
        li.coming-soon
            h3 Espera la próxima publicación de<br /><strong>#{title}</strong><br />en 
                span= restante
                case restante
                  when 1
                    |  día.
                  default
                    |  días.

    .compartir
      ul.compartir-redes
        li
          a.twitter.flaticon-social(href="http://twitter.com", title="Twitter", onclick='window.open(\'https://twitter.com/share?url=http%3A%2F%2Fsurrealcomics.org%2Fcomic%2F#{slug}\', \'share-dialog\', \'width=550,height=450\'); return false;') 
        li
          a.facebook.flaticon-facebook12(href="http://facebook.com", title="Facebook", onclick='window.open(\'https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fsurrealcomics.org%2Fcomic%2F#{slug}\', \'facebook-share-dialog\', \'width=626,height=436\'); return false;') 
        li
          a.tumblr.flaticon-share12(href="http://tumblr.com", title="Tumblr", onclick='window.open(\'http://www.tumblr.com/share/link/?url=http%3A%2F%2Fsurrealcomics.org%2Fcomic%2F#{slug}\', \'share-dialog\', \'width=550,height=450\'); return false;') 
        li
          a.reddit.flaticon-like18(href="http://reddit.com", title="Reddit", onclick='window.open(\'http://www.reddit.com/submit?url=http%3A%2F%2Fsurrealcomics.org%2Fcomic%2F#{slug}\', \'share-dialog\', \'width=550,height=450\'); return false;') 
        li
          a.stumbleupon.flaticon-hourglass1(href="http://stumbleupon.com", title="StumbleUpon", onclick='window.open(\'http://www.stumbleupon.com/submit?url=http%3A%2F%2Fsurrealcomics.org%2Fcomic%2F#{slug}\', \'share-dialog\', \'width=550,height=450\'); return false;') 

      h4 Compartir

    .comic-description
        != yield

    div#zoom-area
        a.zoom-close(href="#") Cerrar

        div.zoom-wrapper
            div.image-wrapper
                img(src="http://placehold.it/500x900")
